<div class="run">
    <h3><a href="/users/<%=user.id%>"><%= user.name %></a></h3>
    <p>Distance: <%= run.distance %> miles</p>
    <p>Durantion: <%= run.time %> minutes</p>
    <p>Mood: <%= run.mood %></p>
</div>